In [1]:
import openai
import os
import constants

In [2]:
openai.api_key = constants.OPENAI_API_KEY

In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('articles1.csv', sep=',', nrows=100)

df=df.drop(columns=['Unnamed: 0','publication','author','date','year','month','url'])

df['content'][0]

df['review']=df.content.str[:500]

df.drop(columns='content')

,id,title,review
0,17283,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,17284,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,17287,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...
95,17394,Corzine Reaches $5 Million Settlement With Reg...,After more than five years of investigations a...
96,17395,Sears Agrees to Sell Craftsman to Stanley Blac...,The question from the analyst on Thursday was ...
97,17396,L.I.R.R. Train That Crashed Was Going Over Twi...,A Long Island Rail Road train that crashed in ...
98,17397,Record 2016 for U.S. Auto Industry Long Road B...,DETROIT — Unexpectedly strong sales of new ...
99,17398,"Macy’s Will Cut 10,000 Jobs After Poor Holiday...",Struggling with sagging sales over another cru...